.tweet-wrapper{
    border: 1px solid black;
    padding: 1rem;
    width: 600px;
    font-size: larger;
}

.tweet-like,.created-at{
    font-size: x-small;
}

.tweet-content {
    margin-bottom: 1rem;
}
.tweet-like-created-wrapper{
    display: flex;
    justify-content: space-between;
}
.tweet-edit-wrapper{
    display: flex;
    justify-content: space-between;
}